body {
    margin: 0;
}

div {
    background-color: red;
    height: 20px;
    width: 20px;
}

.outer-div {
    height: 200px;
    width: 80%;
    background-image: linear-gradient(red, yellow, blue);
    background-color: green;
}