<body>
    <header>
        <p>ToDo App</p>
    </header>

    <div id="task-list-container">

        <ul>
            <% for (let i of tasks_list) {%>
                <li class="contact">
                    <!-- <i class="fa-solid fa-square-poll-horizontal"></i> -->
                    <div class="details">

                        <p>
                            <%=i.discription%>
                        </p>
                        <p>
                            <%= i.date%>
                        </p>
                        <p>
                            <%= i.catagory%>
                        </p>
                    </div>

                    <div class="delete-button">

                        <a href="/delete-task/?id=<%=i._id%>">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>
                    </div>

                </li>
                <%}%>
        </ul>
    </div>
    <div class="action">
        <form id="form" action="create-tasks" method="POST">
            <label for="discription">Description</label>
            <input type="text" name="discription" placeholder="discription" required>
            <label for="catagory">Choose a catagory</label>
            <select name="catagory" id="catagory">
                <option value="work">Work</option>
                <option value="school">School</option>
                <option value="personal">Personal</option>
            </select>
            <label for="date">Date</label>
            <input type="date" name="date" placeholder="Enter Date" required>
            <button type="submit">Add Contact</button>
        </form>
    </div>
</body>