<link rel="stylesheet" href="/css/posts.css" type="text/css">
<h1>
    codial/posts
</h1>
<p><a href="/profile/<%= locals.user.id %>">Back</a></p>

<div id="home-container">
    <section id="feed-posts">
        <h4>Posts</h4>

        <%if(locals.user){%>
            <form action="/create-post" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="3" placeholder="Type here..." required></textarea>
                <input type="submit" value="Post">
            </form>
            <%}%>


                <div id="post-list-container">
                    <ul>
                        <% for(post of post) {%>
                            <%-include('_post')-%>
                                <%}%>
                    </ul>
                </div>
    </section>

    <section id="user-friends">
        <h4>Friends</h4>
        <% for(u of all_users){%>
            <p>
                <a href="/profile/<%=u._id%>">
                    <%=u.name%>
                </a>
            </p>
            <%}%>
    </section>
</div>

<script src="/js/home_posts.js"></script>