<link rel="stylesheet" href="/css/profile.css">
<h1>
    codial/profile
    <p>
        <%= profile_user.name %>
    </p>
    <p>
        <%= profile_user.email %>
    </p>
</h1>

<p>
    <a href="/posts">Post</a>
</p>