body {
    background-color: #cbccc3;

    // #layout-main {
    //     height: 100%;
    // }

    .form-select {
        width: 30%;
    }

    .input-group-text,
    .form-select {
        background-color: #cbccc3;
    }
}