body {
  background-color: #cbccc3; }
  body #layout-main {
    height: 90%; }
  body .form-select {
    width: 30%; }
  body .input-group-text,
  body .form-select {
    background-color: #cbccc3; }
